body {
  background-color: #D3E6FF;
  text-align: center;
  background-image: url("images/background_image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
form {
  max-width: 600px;
  text-align: left;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  background-color: rgba(200, 200, 200, 0.5)
}
.form-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 4px
}
select {
  padding: 5px;
  border: none;
  border-radius: 5px;
}
input[type="checkbox"], [type="radio"] {
  width: 20px;
  height: 15px;
  margin: 5px;
}
.checkbox-row, .radio-row {
  display: flex;
  align-items: center;
  gap: 5px;
}
textarea {
  height: 50px;
}
button:hover {
  cursor: pointer;
}
